.layoutreply {
  margin-top: -1.5%;
  max-height: 100%;
}

.replytext {
  resize: none;
  margin-bottom: -4%;
}

.moveIcon {
  margin-left: 1%;
}

.movereplybutton {
  margin-left: 13%;
}

.hiddenscoll {
  overflow: hidden;
  resize: none;
}

.canceled {
  color: rgba(152, 81, 81, 0.689);
}

.moveExtendReply {
  margin-left: -5rem !important;
}
